openai
fastapi>=0.110
uvicorn[standard]==0.30.0
SQLAlchemy==2.0.32
psycopg[binary]>=3.2.9,<3.3
alembic==1.13.2
python-dotenv==1.0.1
pydantic>=2.10.1
passlib[bcrypt]==1.7.4
email-validator==2.2.0
psycopg2-binary==2.9.10
redis==6.4.0
jwt==1.4.0
authlib==1.6.5
fastapi-mail==1.5.0
pyJWT==2.10.1